*{
    margin-left: 0%;
    padding: 0%;
}

body{ text-align: center;
    font-family:'Urbanist', sans-serif;
    font-size: 20px;
}

.botones{
    width: 140px;
    font-size: 40px;
    margin-top: 10px;
    
}
.display {
    width: 210px; 
    height: 40px; 
    font-size: 20px; 
    text-align: center;
}

#llamar{
    width: 350px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    font-size: 100%;
}

.contenedor {
    margin-left: 10px;
}