*{
    margin-left: 0%;
    padding: 0%;
}

body{ text-align: center;
    font-family:'Urbanist', sans-serif;
    font-size: 20px;
}

.botones{
    width: 140px;
    font-size: 40px;
    margin-top: 10px;
    
}

.contenedor {
    margin-left: 10px;
}